label > * {
    display: block;
}

label > span {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input {
    border-radius: var(--slight-radius);
    border: 1px solid var(--gray100);
    font-family: inherit;
    font-size: inherit;
    padding: 0.5rem;
}

label.Checkbox > * {
    display: inline;
    vertical-align: middle;
}