button,
input {
    font-family: inherit;
    font-size: inherit;
}

label.checkbox > * {
    display: inline;
    vertical-align: middle;
}

/* Design System */

.Button,
.Input {
    display: block;
}

.Button {
    background: var(--blue800);
    border: 1px solid var(--blue800);
    border-radius: var(--slight-radius);
    color: var(--text-alt);
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.Button:hover,
.Button:focus {
    background: var(--blue900);
}

a.Button {
    text-decoration: none;
}

.Field {
    display: grid;
}

.Field.Field--inline {
    grid-template-columns: max-content auto;
}

.Field + .Field {
    margin-top: 1rem;
}

.Field .Input {
    margin-top: 0.5rem;
}

.Input {
    border-radius: var(--slight-radius);
    border: 1px solid var(--gray100);
    display: block;
    padding: 0.5rem;
}

.Input:focus {
    border-color: var(--blue600);
    box-shadow: 0 0 0 2px var(--blue100);
    outline: solid 4px transparent;
}

.Label {
    font-weight: bold;
}
