.app {
    display: flex;
    min-height: 100vh;
}

.settings {
    background: var(--blue900);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    width: 360px;
}

.settings h1 {
    margin-bottom: 0;
}

.settings__content-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 2rem;
    position: relative;
}

.settings__content-container > *:first-child {
    margin-top: 0;
}

.settings__label {
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

.settings__label input {
    /* Fix for Firefox */
    width: calc(100% - 1rem);
}

.settings__label input:focus,
.to-top:focus {
    box-shadow: 0 0 0 2px var(--amber600);
    outline: none;
}

.settings__label + .settings__label {
    margin-top: 1rem;
}

.attribution {
    margin-top: auto;
    padding-top: 2rem;
    text-align: center;
}

.attribution a {
    text-decoration: none;
}

.attribution a:hover,
.attribution a:focus {
    text-decoration: underline;
}

.attribution.--desktop-hidden a {
    color: var(--text-primary);
}

.attribution.--mobile-hidden a {
    color: white;
}

.main {
    --background: var(--gray200);
    background: var(--background);
    flex: 1;
    max-height: 100vh;
    overflow-y: auto;
}

.main .attribution {
    padding-bottom: 2rem;
}

.grade-list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.grade-list__item {
    display: flex;
    justify-content: center;
    font-size: 125%;
    font-family: Menlo, Monaco, monospace;
    padding: 0.5rem 1rem;
}

.grade-list__item:nth-child(even) {
    background: white;
}

.grade-list__value {
    text-align: right;
}

.grade-list__fraction {
    margin-right: 1rem;
}

.grade-list__percent {
    font-weight: bold;
}

.--desktop-hidden {
    display: none;
}

.--mobile-hidden {
    display: block;
}

@media screen and (max-width: 700px) {
    .app {
        flex-direction: column;
    }

    .settings {
        max-width: initial;
        width: 100%;
    }

    .main {
        max-height: initial;
    }

    .--desktop-hidden {
        display: block;
    }

    .--mobile-hidden {
        display: none;
    }
}
