.App {
    display: flex;
    min-height: 100vh;
}

.Settings {
    background: var(--blue900);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    width: 360px;
}

.Settings h1 {
    margin-bottom: 0;
}

.Settings__content-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 2rem;
    position: relative;
}

.Settings__content-container > *:first-child {
    margin-top: 0;
}

.Settings__label {
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

.Settings__label input {
    /* Fix for Firefox */
    width: calc(100% - 1.5rem);
}

.Settings__label + .Settings__label {
    margin-top: 1rem;
}

.Attribution {
    margin-top: auto;
    padding-top: 2rem;
    text-align: center;
}

.Main {
    --background: var(--gray200);
    background: var(--background);
    flex: 1;
    max-height: 100vh;
    overflow-y: auto;
}

.Main .Attribution {
    padding-bottom: 2rem;
}

.GradeList {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.GradeList__item {
    display: flex;
    justify-content: center;
    font-size: 125%;
    font-family: Menlo, Monaco, monospace;
    padding: 0.5rem 1rem;
}

.GradeList__item:nth-child(even) {
    background: white;
}

.GradeList__value {
    text-align: right;
}

.GradeList__fraction {
    margin-right: 1rem;
}

.GradeList__percent {
    font-weight: bold;
}

.ToTop {
    background: var(--blue900);
    border-radius: 0.25rem;
    bottom: 2rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 1rem;
    position: fixed;
    text-decoration: none;
    right: 2rem;
}

.ToTop:hover {
    background: var(--blue700);
}

.--desktop-hidden {
    display: none;
}

.--mobile-hidden {
    display: block;
}

@media screen and (max-width: 700px) {
    .App {
        flex-direction: column;
    }

    .Settings {
        max-width: initial;
        width: 100%;
    }

    .Main {
        max-height: initial;
    }

    .--desktop-hidden {
        display: block;
    }
    
    .--mobile-hidden {
        display: none;
    }
}